  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none !important;
  list-style-type: none !important;
  text-decoration: none !important;
  outline: none !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
 
 



:root { 
  --accent-purple-light:#6A65C7;
  --accent-purple: #4D44B5;
  --grey-one: #F5F5F5; 
  --grey-two: #C1BBEB; 
  --grey-three: #A098AE; 
  --hover-background: #ededed;
  --text: #303972; 
  --black: #000000;
  --green: #4CBC9A;
  --orange: #FB7D5B;
  --red: #FF4550;
 --yellow: #FCC43E;
  --white:#ffffff;
  --Linear-1:linear-gradient(180deg, #FB7D5B -242.86%, rgba(251, 125, 91, 0) 100%);
  --Linear-2:linear-gradient(180deg, #FCC43E -241.95%, rgba(252, 196, 62, 0) 100%); 
  --Linear-3:linear-gradient(178.76deg, #4D44B5 -47.98%, #303972 163.51%);; 
  --form-border:#A098AE;
  --background:#F3F4FF;
 
}
 
 html, body {
   height: 100% ;  
  width: 100%;
}

body { 
  background:  var(--background);
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
  padding-left: 0px !important;
}

img, 
svg { 
  max-width: 100% !important;
}

input, 
button, 
textarea, 
select {
  font: inherit !important;
  box-sizing: border-box !important;
}
@media (max-width: 1200px) {
input, 
button, 
textarea, 
select {
  font: small !important; 
}
}
 
a {
  text-decoration: none !important;
  outline: none !important;
}
 
  
#page-wrapper {
  display: grid !important;
  position: relative;
  height: 100dvh !important;
  grid-template-columns: max-content 1fr !important;
  grid-template-rows: 80px 1fr !important;
  grid-template-areas:
    "sidenav header"
    "sidenav main"    
}

main {
  grid-area: main !important;
  padding: 1rem  !important;
  overflow-y: auto!important; 
}
table {
  background-color: var(--white);
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #EDEDED !important;
}
 
 
table th,
table td {
  text-align: left;
  padding: .75rem 1rem;
  font-size: 15px;
}
table th {
  background-color: #EDEDED;
  color:  #64676a;
  font-weight: 500;
  white-space: nowrap !important;
  font-weight: bold;
}
tbody tr {
  border-top: 1px solid #f0f0f0;
}
/* tbody tr td {
  color: #707683 !important;
} */


 
 
  
 /* --- Other CSS Files --- */
@import url(./App.css);   
@import url(./css/Header.css);   
@import url(./css/SideNav.css);   
@import url(./css/Teachers.css);   
 
 
.cp-text1 {
    color: hsla(210, 100%, 65%, 0.944);
     text-shadow: 0 1px hsla(0,0%,100%,.1); 
   position: absolute;
    bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;  
}

  .logo-buttom-padding{
    padding-left: 2px;
    width: 140px;
    height: 20px;
  }

 
@media screen and (max-width: 768px) {
  .cp-text1 {
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
 
  }

  .logo-buttom-padding{
    padding-top: 1rem;
       width: 150px;
    height: 40px;
  }
}
@media screen and (max-width: 400px) {
  .cp-text1 {
   display: none; 
 
  }

  .logo-buttom-padding{
    padding-top: 1rem;
    width: 150px;
    height: 40px;
  }
}

.loading-center-container{
  display: flex;
  justify-content: center;
  align-items: center;
 height: 80vh;
   /* Media query for smaller screens */
  @media (max-width: 600px) {
    height: 60vh;  
  }
}


.entries-perpage-container{
  color: #5c5c5c;
  display: flex;
  align-items: center;
  /* white-space: nowrap !important; */
}

.entries-perpage-container select { 
  color: #5c5c5c !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  background-color: var(--white) !important;
  padding: 5px !important;
  border-radius: 3px !important;
  outline: none !important;
  border: 0 !important;
  border: 1px solid #cfcfcf !important;
  transition: all 0.3s ease-out !important;
  -webkit-transition: all 0.3s ease-out !important;
  white-space: nowrap !important;
 
}
.entries-perpage {
  color: #5c5c5c; 
  display: flex;
  align-items: center;
  width: 15% !important; 
}
  .entries-perpage select { 
 color: #5c5c5c !important; 
  background-color: var(--white) !important;
  padding: 5px !important;
  border-radius: 3px !important;
  outline: none !important;
  border: 0 !important;
  border: 1px solid #cfcfcf !important;
  transition: all 0.3s ease-out !important;
  -webkit-transition: all 0.3s ease-out !important; 
}  
/* .entries-perpage select:focus {
  border: 1px solid #e2522e;
  box-sizing: 0 0 3px #000;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
} */

@media only screen and (max-width: 1220px) { 

.entries-perpage {
  color: #5c5c5c; 
  white-space: nowrap !important; 
  justify-content: center;
}

}

/* --- Start Pagination --- */

/* .pagination-container {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap !important;
}
.pagination-container a {
  color: #707683;
  padding: 0.25rem 0.5rem;
  user-select: none;
  border: 1px solid #fff;
  border-radius: 3px;

}
.pagination-container a:hover {
  color: var(--accent-purple) !important;
  border: 1px solid var(--accent-purple);
}
.pagination-active a,
.pagination-active a:hover {
  background-color: var(--accent-purple);
  color: #fff !important;
  border: 1px solid var(--accent-purple);
}
#table-footer a.previous-btn,
#table-footer a.next-btn {
  color: var(--accent-purple);
  border: 1px solid var(--accent-purple);
}
.pagination-disabled a,
.pagination-disabled a:hover {
  color: #b4b4b4 !important;
  cursor: not-allowed;
  border: 1px solid #b4b4b4 !important;
} */
/* --- End Pagination --- */
